<div class="text-center container mt-4">
    <div class="overflow-hidden">
        <% if (locals.size != null) { %>
            <div id="<%= name %>" class="ad" data-size="<%= locals.size %>"></div>
        <% } else { %>
            <div id="<%= name %>" class="ad" data-sie="leaderboard"></div>
        <% } %>
    </div>
</div>
