<div>
    <a href="#" id="scroll-button">
        <i class="fas fa-chevron-up fa-2x text-white"></i>
    </a>
</div>
<%- include('ad') %>
<footer class="footer pt-2 pb-4">
    <div class="copyright text-center">
        &copy; 2020 CHamburr#2591
    </div>
    <div class="text-center mt-2">
        <a class="text-muted" href="/terms">Terms of Service</a>
        <a class="text-muted ml-2" href="/privacy">Privacy Policy</a>
    </div>
</footer>
