<div>
    <footer class="footer pt-4 pb-4">
        <div class="copyright text-center">
            Copyright &copy; 2020-2024 <a href="https://chamburr.com" target="_blank" rel="noopener" class="text-white">
                CHamburr
            </a>
        </div>
        <div class="text-center mt-2">
            <a class="text-muted" href="/terms">Terms of Service</a>
            <a class="text-muted ml-2" href="/privacy">Privacy Policy</a>
        </div>
    </footer>
</div>
