<div id="placement-video" style="height: 0; overflow: hidden;"></div>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script>
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    form.classList.add('was-validated');
                }
            }, false);
        });
    }, false);

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            $('#scroll-button').addClass('show');
        } else {
            $('#scroll-button').removeClass('show');
        }
    });

    $(document).ready(function () {
        $('#scroll-button').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        });
    });

    $('[data-toggle="tooltip"]').tooltip();

    if (window['nitroAds'] && window['nitroAds'].loaded) {
        if ($('#consent-box')) {
            $('#consent-box').css('display', window['__tcfapi'] ? '' : 'none')
        }
    } else {
        document.addEventListener('nitroAds.loaded', function () {
            if ($('#consent-box')) {
                $('#consent-box').css('display', window['__tcfapi'] ? '' : 'none')
            }
        });
    }

    $('.ad').each(function () {
        var sizes = [
            [728, 90],
            [970, 90],
            [320, 50],
        ];

        if ($(this).data('size') == 'rectangle') {
            sizes = [
                [300, 600],
                [300, 250],
                [320, 50],
            ];
        }

        window['nitroAds'].createAd($(this).attr('id'), {
            format: 'display',
            refreshLimit: 10,
            refreshTime: 30,
            report: {
                enabled: true,
                wording: 'Report Ad',
                position: 'bottom-right'
            },
            sizes: sizes
        });
    })

    window['nitroAds'].createAd('placement-anchor', {
        format: 'anchor',
        anchor: 'bottom'
    });

    window['nitroAds'].createAd('placement-interstitial', {
        format: 'interstitial'
    });

    window['nitroAds'].createAd('placement-video', {
        format: 'video-ac',
        mediaQuery: '(min-width: 768px)'
    });
</script>
