<div>
    <a href="#" id="scroll-button">
        <i class="fas fa-chevron-up fa-2x text-white"></i>
    </a>
</div>
<footer class="footer pt-2 pb-4">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6223195383839601"
         data-ad-slot="4461500984"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div class="copyright text-center mt-2">
        &copy; 2020 CHamburr#2591
    </div>
    <div class="text-center mt-2">
        <a class="text-muted" href="/terms">Terms of Service</a>
        <a class="text-muted ml-2" href="/privacy">Privacy Policy</a>
    </div>
</footer>
