<div id="placement-video"></div>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script>
    window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    form.classList.add('was-validated');
                }
            }, false);
        });
    }, false);

    $(window).scroll(function () {
        if ($(window).scrollTop() > 300) {
            $('#scroll-button').addClass('show');
        } else {
            $('#scroll-button').removeClass('show');
        }
    });

    $(document).ready(function () {
        $('#scroll-button').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 300);
        });
    });

    $('[data-toggle="tooltip"]').tooltip();

    if (window['nitroAds'] && window['nitroAds'].loaded) {
        if ($('#consent-box')) {
            $('#consent-box').css('display', window['__tcfapi'] ? '' : 'none')
        }
    } else {
        document.addEventListener('nitroAds.loaded', function () {
            if ($('#consent-box')) {
                $('#consent-box').css('display', window['__tcfapi'] ? '' : 'none')
            }
        });
    }

    $('.ad').each(function () {
        if ($(this).data('size') == 'rectangle') {
            window['nitroAds'].createAd($(this).attr('id'), {
                format: 'display',
                refreshLimit: 20,
                refreshTime: 30,
                mediaQuery: '(min-width: 768px)',
                report: {
                    enabled: true,
                    wording: 'Report Ad',
                    position: 'bottom-right'
                },
                sizes: [
                    [300, 600],
                    [300, 250]
                ]
            });
            window['nitroAds'].createAd($(this).attr('id'), {
                format: 'display',
                refreshLimit: 20,
                refreshTime: 30,
                mediaQuery: '(min-width: 320px) and (max-width: 767px)',
                report: {
                    enabled: true,
                    wording: 'Report Ad',
                    position: 'bottom-right'
                },
                sizes: [
                    [320, 100],
                    [320, 50]
                ]
            });
        } else {
            window['nitroAds'].createAd($(this).attr('id'), {
                format: 'display',
                refreshLimit: 20,
                refreshTime: 30,
                report: {
                    enabled: true,
                    wording: 'Report Ad',
                    position: 'bottom-right'
                },
                sizes: [
                    [728, 90],
                    [970, 90],
                    [320, 50]
                ]
            });
        }
    })

    window['nitroAds'].createAd('placement-anchor', {
        format: 'anchor',
        anchor: 'bottom',
        refreshLimit: 20,
        refreshTime: 30,
        report: {
            enabled: true,
            wording: 'Report Ad',
            position: 'bottom-right'
        },
        mediaQuery: '(min-width: 0px)'
    });

    window['nitroAds'].createAd('placement-interstitial', {
        format: 'interstitial'
    });

    window['nitroAds'].createAd('placement-video', {
        format: 'video-nc',
        mediaQuery: '(min-width: 768px)',
        video: {
            float: 'always'
        }
    });
</script>
