<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'About'}) %>
</head>

<body class="about">
<%- include('partials/navbar', {user: user}) %>
<div class="main-content">
    <div class="container mt-5 mb-4">
        <div class="align-items-center mb-4">
            <h1>About</h1>
            <h2 class="h5">Information about our website and its contributors.</h2>
        </div>
        <p>
            Discord Templates is the largest server template list ever, with over 1000 valid server templates! You can
            discover a huge variety of server templates on this website, for all the purposes you need.
        </p>
        <p>
            This website was founded in April 2020, shortly after the release of the server templates functionality. The
            templates here are completely created and maintained by the community. Big thanks to everyone!
        </p>
        <h2 class="h3 mt-4">What are server templates?</h2>
        <p>
            Server template is a new Discord feature released in April 2020. It will let you clone categories, channels,
            roles and permissions to help you set up a new server quickly. For more information on server templates,
            please check out
            <a href="https://support.discordapp.com/hc/en-us/articles/360041033511-Server-Templates">this link</a>.
        </p>
        <h2 class="h3 mt-4">Contributors</h2>
        <p>
            These people are most certainly awesome. Without them, Discord Templates would not be possible!
        </p>
        <div class="row">
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/446290930723717120/a23dcacf8b9d10dd3f3ebced4e5f7ffd.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">CHamburr</p>
                        <p class="mb-0">Developer</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/446290930723717120">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/897912041636003951/778f6f5e7612916bd712114985c4063f.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">Darius</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/897912041636003951">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/837346633779642369/944038fe912c5bc7ae9df91831451617.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">Nem</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/837346633779642369">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/884457992026722315/ff0b116702252c360ebfb8e6df8e10bb.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">Philip</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/884457992026722315">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/909836980567830549/67ba17f7a4ba8f58a45fe4d8d47987eb.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">Professor</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/909836980567830549">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/455723555674652693/065cbb2121442ac3c67ff73f0a781788.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">Seriy</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/455723555674652693">View Profile</a>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 col-lg-4">
                <div class="card bg-dark my-2 text-center">
                    <div class="card-body">
                        <img src="https://cdn.discordapp.com/avatars/329366959214952448/ff62e8d49ac926e3c4f7cebed17804b4.png?size=256" class="card-img rounded-circle" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        <p class="h5 card-title mt-3">XAVY</p>
                        <p class="mb-0">Moderator</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary" href="/users/329366959214952448">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>
