<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'About'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>About</h3>
        </div>
        <p>
            Discord Templates is the largest server template list ever, with over 500 valid templates! You can
            discover a huge variety of server templates on this website, for all the purposes you need.
        </p>
        <p>
            This website was founded in April 2020, shortly after the release of the server templates functionality.
            The templates here are completely created and maintained by the community. Big thanks to everyone!
        </p>
        <h4>What are server templates?</h4>
        <p>
            Server template is a new Discord feature released just recently in April 2020. It will let you clone
            categories, channels, roles and permissions to help you set up a new server quickly. For more information on
            server templates, please check out
            <a href="https://support.discordapp.com/hc/en-us/articles/360041033511-Server-Templates">this link</a>.
        </p>
        <h4>How do I submit a template?</h4>
        <p>
            First of all, you need to create a server template. To do so, you can go to Server Settings → Server
            Template. You can set a title and a description for your template. Once you are done, you will get a link
            like this: https://discord.new/VPZ6258KTWqs.
        </p>
        <p>
            Next, login to this website and click your username. Open the Add Template page, paste in the server
            template link, choose some tags and you're done. Bravo! :D
        </p>
        <h4>Contributors</h4>
        <p>
            These people are most certainly awesome. Without them, Discord Templates would not be possible!
        </p>
        <div class="row">
            <div class="col col-lg-6">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-lg-4 my-4 my-lg-auto px-4 pr-lg-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/446290930723717120/80405a7b286dfaa5b64719e9794c203e.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">CHamburr</h5>
                                <p>Developer</p>
                                <p>Administrator</p>
                                <a class="btn btn-secondary" href="/users/446290930723717120">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-lg-4 my-4 my-lg-auto px-4 pr-lg-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/433276300703170580/a_92ab2da91fc17e848c1be66f47230a32.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">Shadowstar</h5>
                                <p>Administrator</p>
                                <a class="btn btn-secondary" href="/users/433276300703170580">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-lg-4 my-4 my-lg-auto px-4 pr-lg-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/723794074498367498/5c79be27a557aea39ab1e5ff4662b5af.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">waterflamev8</h5>
                                <p>Administrator</p>
                                <a class="btn btn-secondary" href="/users/723794074498367498">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-lg-4 my-4 my-lg-auto px-4 pr-lg-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/298661966086668290/d1c411670ae1667c5b483fcc66105282.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">kym2006</h5>
                                <p>Administrator</p>
                                <a class="btn btn-secondary" href="/users/298661966086668290">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer', {crawler: crawler}) %>
</div>
<%- include('partials/foot') %>
</body>

</html>