<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Partners'}) %>
</head>

<body class="partners">
<%- include('partials/navbar', {user: user}) %>
<div class="main-content">
    <div class="container mt-5 mb-4">
        <div class="align-items-center mb-4">
            <h1>Partners</h1>
            <h2 class="h5">These are the awesome thing we are partnering with.</h2>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-2">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4 my-4 my-md-auto px-4 pr-md-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/575252669443211264/7050131180642ef969d1ac28bd7354b6.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="card-body">
                                <p class="h5 card-title">ModMail</p>
                                <p>
                                    ModMail is a feature-rich Discord bot designed to enable your server members to
                                    contact staff easily.
                                </p>
                                <a class="btn btn-secondary" target="_blank" href="https://modmail.xyz">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-md-4 my-4 my-md-auto px-4 pr-md-0 text-center">
                            <img src="https://cdn.discordapp.com/avatars/432533456807919639/84c3ca902f45f011a79461a5ee1901dd.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-md-8">
                            <div class="card-body">
                                <p class="h5 card-title">Member Count</p>
                                <p>
                                    A counting bot that displays server statistics with fancy counters, making it
                                    aesthetically pleasing for everyone.
                                </p>
                                <a class="btn btn-secondary" target="_blank" href="https://membercount.net">
                                    Learn More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">
            Want to partner with us?
            <br>
            Reach out at hi@discordtemplates via email.
        </p>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>
