<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Partners'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>Partners</h3>
            <h5>These are the awesome thing we are partnering with.</h5>
        </div>
        <div class="row">
            <div class="col col-lg-6">
                <div class="card bg-dark">
                    <div class="row no-gutters">
                        <div class="col col-12 col-lg-4 my-4 my-lg-auto px-4 pr-lg-0">
                            <img src="https://cdn.discordapp.com/icons/576016832956334080/62a7a3e2ca72981bbad997631d93d8ea.png"
                                 class="card-img" alt="Icon">
                        </div>
                        <div class="col col-12 col-lg-8">
                            <div class="card-body">
                                <h5 class="card-title">ModMail</h5>
                                <p>ModMail is a feature-rich Discord bot designed to enable your server members to
                                    contact staff easily.</p>
                                <a class="btn btn-secondary" href="https://modmail.netlify.com">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">Want to partner with us? Contact CHamburr#2591 on Discord.</p>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>