<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Partners'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>Partners</h3>
            <h5>These are the awesome thing we are partnering with.</h5>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-2">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4 my-4 my-md-auto px-4 pr-md-0 text-center">
                            <img src="https://cdn.discordapp.com/icons/576016832956334080/5382187fd528eba7d00539d29ad91fec.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">ModMail</h5>
                                <p>
                                    ModMail is a feature-rich Discord bot designed to enable your server members to
                                    contact staff easily.
                                </p>
                                <a class="btn btn-secondary" target="_blank" href="https://modmail.xyz">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-2">
                <div class="card bg-dark my-2">
                    <div class="row no-gutters">
                        <div class="col col-12 col-md-4 my-4 my-md-auto px-4 pr-md-0 text-center">
                            <img src="https://cdn.discordapp.com/icons/496964682972659712/0b61c5cb7b9ace8f8f5e2fef37cacb5b.png?size=256"
                                 class="card-img" alt="Icon" style="max-height: 150px; max-width: 150px;">
                        </div>
                        <div class="col col-12 col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Member Count</h5>
                                <p>
                                    A counting bot that displays server statistics with fancy counters, making it
                                    aesthetically pleasing for everyone.
                                </p>
                                <a class="btn btn-secondary" target="_blank" href="https://membercount.net">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">
            Want to partner with us?
            <br>
            Contact CHamburr#2591 on Discord.
        </p>
    </div>
    <%- include('partials/footer', {crawler: crawler}) %>
</div>
<%- include('partials/foot') %>
</body>

</html>
