<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Privacy'}) %>
</head>

<body class="privacy">
<%- include('partials/navbar', {user: user}) %>
<div class="main-content">
    <div class="container mt-5 mb-4">
        <div class="align-items-center mb-4">
            <h1>Privacy Policy</h1>
        </div>
        <p>
            This Privacy Policy describes how your personal information is collected, used, and shared when you access
            Discord Templates' website and services.
        </p>
        <h2 class="h3 mt-4">Information We Collect</h2>
        <p>
            When you visit our website, we automatically collect certain information about your device, including
            information about your web browser, IP address, time zone, and some of the cookies that are installed on
            your device. Additionally, as you browse our website, we collect information about the individual web pages
            or products that you view, what websites or search terms referred you to our website, and information about
            how you interact with our website.
        </p>
        <p>
            We collect the information using the following technologies:
        </p>
        <ul>
            <li>
                <p>
                    “Cookies” are data files that are placed on your device or computer and often include an anonymous
                    unique identifier. For more information about cookies, and how to disable cookies, visit
                    http://www.allaboutcookies.org.
                </p>
            </li>
            <li>
                <p>
                    “Log files” track actions occurring on our website, and collect data including your IP address,
                    browser type, Internet service provider, referring/exit pages, and date/time stamps.
                </p>
            </li>
        </ul>
        <h2 class="h3 mt-4">How We Use Your Information</h2>
        <p>
            We use the information that we collect to help us screen for potential risk, and more generally to improve
            and optimize our Site (for example, by generating analytics about how our customers browse and interact with
            our website, and to assess the success of our marketing and advertising campaigns).
        </p>
        <h2 class="h3 mt-4">Sharing Your Information</h2>
        <p>
            We share your information with third parties to help us use your information, as described above. We also
            use Google Analytics to help us understand how our customers use our website -- you can read more about how
            Google uses your information here: https://www.google.com/intl/en/policies/privacy/. You can also opt-out of
            Google Analytics here: https://tools.google.com/dlpage/gaoptout.
        </p>
        <p>
            We may also share your information to comply with applicable laws and regulations, to respond to a subpoena
            search warrant or other lawful request for information we receive, or to otherwise protect our rights.
        </p>
        <h2 class="h3 mt-4">Advertising</h2>
        <p>
            Out website is affiliated with CMI Marketing, Inc., d/b/a Raptive (“Raptive”) for the purposes of placing
            advertising, and Raptive will collect and use certain data for advertising purposes. To learn more about
            Raptive’s data usage, visit https://www.raptive.com/publisher-advertising-privacy-policy.
        </p>
        <h2 class="h3 mt-4">Your Rights</h2>
        <p>
            If you are a European resident, you have the right to access information we hold about you and to ask that
            your information be corrected, updated, or deleted. If you would like to exercise this right, please contact
            us through the contact information below.
        </p>
        <h2 class="h3 mt-4">Minors</h2>
        <p>
            Our website is not intended for individuals under the age of 13.
        </p>
        <h2 class="h3 mt-4">Changes</h2>
        <p>
            We may update this privacy policy from time to time in order to reflect, for example, changes to our
            practices or for other operational, legal or regulatory reasons.
        </p>
        <h2 class="h3 mt-4">Contact Us</h2>
        <p>
            For more information about our privacy practices, if you have questions, or if you would like to make a
            complaint, please email us at hi@discordtemplates.me.
        </p>
        <p>
            <em>Last updated on 27 July 2023.</em>
        </p>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>
