<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Privacy'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>Privacy Policy</h3>
        </div>
        <p>
            <em>Last updated on 10 April 2020.</em>
        </p>
        <p>
            This Privacy Policy describes how your personal information is collected, used, and shared when you access
            Discord Templates' website and services.
        </p>
        <h5>Information We Collect</h5>
        <p>
            When you visit our website, we automatically collect certain information about your device, including
            information about your web browser, IP address, time zone, and some of the cookies that are installed on
            your device. Additionally, as you browse our website, we collect information about the individual web pages
            or products that you view, what websites or search terms referred you to our website, and information about
            how you interact with our website.
        </p>
        <p>
            We collect the information using the following technologies:
        </p>
        <ul>
            <li>
                <p>
                    “Cookies” are data files that are placed on your device or computer and often include an anonymous
                    unique identifier. For more information about cookies, and how to disable cookies, visit
                    http://www.allaboutcookies.org.
                </p>
            </li>
            <li>
                <p>
                    “Log files” track actions occurring on our website, and collect data including your IP address,
                    browser type, Internet service provider, referring/exit pages, and date/time stamps.
                </p>
            </li>
        </ul>
        <h5>How We Use Your Information</h5>
        <p>
            We use the information that we collect to help us screen for potential risk, and more generally to improve
            and optimize our Site (for example, by generating analytics about how our customers browse and interact with
            our website, and to assess the success of our marketing and advertising campaigns).
        </p>
        <h5>Sharing Your Information</h5>
        <p>
            We share your information with third parties to help us use your information, as described above. We also
            use Google Analytics to help us understand how our customers use our website -- you can read more about how
            Google uses your information
            here: https://www.google.com/intl/en/policies/privacy/. You can also opt-out of Google Analytics here:
            https://tools.google.com/dlpage/gaoptout.
        </p>
        <p>
            Finally, we may also share your information to comply with applicable laws and regulations, to respond to a
            subpoena, search warrant or other lawful request for information we receive, or to otherwise protect our
            rights.
        </p>
        <h5>Behavioural Advertising</h5>
        <p>
            As described above, we use your information to provide you with targeted advertisements or marketing
            communications we believe may be of interest to you. For more information about how targeted advertising
            works, you can visit the Network Advertising Initiative’s (“NAI”) educational page at
            http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
        </p>
        <p>
            You can opt out of targeted advertising here: https://www.google.com/settings/ads/anonymous.
        </p>
        <p>
            Additionally, you can opt out of some of these services by visiting the Digital Advertising Alliance’s
            opt-out portal at: http://optout.aboutads.info.
        </p>
        <h5>Your Rights</h5>
        <p>
            If you are a European resident, you have the right to access information we hold about you and to ask that
            your information be corrected, updated, or deleted. If you would like to exercise this right, please contact
            us through the contact information below.
        </p>
        <p>
            Additionally, if you are a European resident we note that we are processing your information in order to
            fulfill contracts we might have with you, or otherwise to pursue our legitimate business interests listed
            above. Additionally, please note that your information will be transferred outside of Europe, including to
            Canada and the United States.
        </p>
        <h5>Minors</h5>
        <p>
            Our website is not intended for individuals under the age of 13.
        </p>
        <h5>Changes</h5>
        <p>
            We may update this privacy policy from time to time in order to reflect, for example, changes to our
            practices or for other operational, legal or regulatory reasons.
        </p>
        <h5>Contact Us</h5>
        <p>
            For more information about our privacy practices, if you have questions, or if you would like to make a
            complaint, please contact CHamburr#2591 through Discord.
        </p>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>